* {
  font-family: 'Josefin Sans', sans-serif;
}

:focus {
 background: fixed;
}

body {
  display: block;
  background: red;
  background-image: linear-gradient(to right, yellow , red);
}

input {
  font-family: 'Josefin Sans', sans-serif;
  position: relative;
  border-radius: 10px;
  border: .5px transparent;
  border-bottom: 2px solid black;
}

.search-container {
 position: relative;
 width: 300px;
 margin: auto;
 margin-top: 25%;
 /* background: rgb(250, 213, 1); */
}
.search-container input,
.search-container .suggestions {
  width: 100%;
  text-align: left;
 
}
.search-container input {
 background: rgba(255, 248, 248, 0.534);
 height: 30px;
 padding: 10px;
}
.search-container .suggestions {
   position: absolute;
   top: 50px;
   background-color: rgb(236, 184, 11);
}

ul {
  display: none;
  list-style-type: none;
  padding: 1px;
  margin: 0;
  box-shadow: 0 1px 1px 0 black;
  max-height: 300px;
  overflow-y: auto;
}
ul.has-suggestions {
  display: block;
}
ul li {
  padding: 10px;
  cursor: pointer;
  background: rgba(255, 248, 248, 0.534);
}
ul li:hover {
  background-color: rgb(240, 241, 135);
}

